################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Image2Text git/Image2Text/libGigeVision.dll
