################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Image2Text git/Image2Text/libGigeVision.dll
/Image2Text git/.vs/Supercharger/Image2Text_borderless/codemap.dat
/Image2Text git/.vs/Supercharger/Image2Text_borderless/global_history.dat
/Image2Text git/.vs/Supercharger/Image2Text_borderless/workbench.dat
/Image2Text git/Image2Text/obj
/Image2Text git/Image2Text/bin


